@charset "UTF-8";
/*公共部分样式*/
body {
  margin: 0;
  padding: 0;
  font-family: '\5FAE\8F6F\96C5\9ED1'; }

#root {
  display: none; }

#startLoadPage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%; }
  #startLoadPage .startLoadPageImg {
    width: 100%;
    height: 50%;
    margin: 10% 0;
    text-align: center; }
    #startLoadPage .startLoadPageImg img {
      height: 100%;
      width: auto; }
  #startLoadPage p {
    width: 100%;
    height: 20%;
    text-align: center;
    color: black;
    font-size: 22px; }
.notFoundPage {
  width: 60%;
  height: 50%;
  margin: 25% 20%; }
  .notFoundPage .notFoundPageLeft {
    float: left;
    height: 100%;
    width: 50%; }
    .notFoundPage .notFoundPageLeft img {
      height: auto;
      width: 100%; }
  .notFoundPage .notFoundPageRight {
    float: right;
    height: 100%;
    width: 50%; }
    .notFoundPage .notFoundPageRight p {
      width: 100%;
      text-align: center;
      font-size: 22px;
      color: black; }
